@model Book

<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">@Model.Title
      <small>----@Model.Author</small>
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <img src="@ViewBag.ImageData"/>
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">Book Description</h3>
        <p>@Model.Description</p>
        <h3 class="my-3">Project Details</h3>
        <ul>
          <li>@Model.Price</li>
          
        </ul>
        <hr />
        <a asp-controller="Cart" asp-action="AddCart" asp-route-id="@Model.Id" class="btn btn-primary">Add to cart</a>
        <a asp-controller="Customers" asp-action="Index" asp-route-isbn="" class="btn btn-primary">Back to list</a>

      </div>
  
    </div>
    
  
    
