@model IEnumerable<Book>


<h1>FPT Book</h1>
<div class="form-group"><a asp-controller="Customers" asp-action="" class="btn btn-dark">CheckOut Screen</a></div>
<div class="form-group">
    <form>
        <input type="text" name="search" placeholder="Search books by name or category" />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<hr />
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <a asp-controller="Customers" asp-action="Details" asp-route-id="@item.Id ">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">

                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                         data-mdb-ripple-color="light">

                            <img src="@item.ImageData"
                             class="w-100" />

                        </div>



                        <div class="card-body">
                            <div class="form-group" style="width: 100% ;height 20% ; "> <h5 class="card-title" >@item.Title</h5></div>
                            <hr>
                            <h5 class="card-title">@item.Category.Description</h5>
                            <h5 class="card-title">@item.Price VND</h5>

                            <a asp-controller="Cart" asp-action="AddCart" asp-route-id="@item.Id" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                </div>
            </a>
        }

    </div>
</div>

