@using AssignFPTBook.Models

@model List<CartItem>
<h2>CART</h2>

@if (Model.Count >0) {
  double total = 0;
  int stt = 1;
  
  <table class="table">
    <tr>
      <th>#</th>
      <th>Book</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total money</th>
      <th></th>
    </tr>
    @foreach (var Item in Model)
    {
        var itemMoney = Item.Quantity * Item.book.Price;
            total += itemMoney;

        <tr>
           <td>@(stt++)</td>
           <td>@Item.book.Title</td>
           <td>@(Item.book.Price.ToString("n"))</td>
           <td>
               <a asp-controller="Cart" name="quantity" asp-action="UpdateCart" asp-route-id="@Item.book.Id" class="btn btn-success"  >+</a>
               @Item.Quantity
               <a asp-controller="Cart" name="quantity" asp-action="UpdateCartrm" asp-route-id="@Item.book.Id" class="btn btn-success"  >-</a>
           </td> 
           <td>@(itemMoney.ToString("n"))</td>
           <td>
              
              <a asp-controller="Cart" asp-action="RemoveCart" asp-route-id="@Item.book.Id"
                class="btn btn-danger">Delete</a>
           </td>
        </tr>
    }
      <tr>
          <td colspan="4" class="text-right">Total Money</td>
          <td>@(total.ToString("n0"))</td>
          <td></td>
      </tr>
  </table>

  <a asp-controller="Cart" asp-action="CheckOut" class="btn btn-success" >Checkout</a>

      

}
else {
  <p class="alert alert-danger">Cart is null</p>
}